/* 置頂按鈕樣式 */
#topBtn {
   position: fixed;
   bottom: 30px;
   right: 20px;
   /* 初始隱藏 */
   display: none;

   background-image: radial-gradient(rgba(255, 255, 255), rgba(255, 255, 255, 0.8), rgba(184, 186, 189, 0.483), rgba(38, 55, 91, 0.6));
   border-style: none;
   border-radius: 50px;
   padding: 12px 12px;
   box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.18);

   cursor: pointer;
   transition: opacity 0.3s ease;
   z-index: 999;
}

#topBtn:hover {
   background-image: radial-gradient(rgba(255, 255, 255), rgba(182, 189, 200, 0.387), rgba(79, 97, 134, 0.35), rgba(38, 55, 91, 0.6));

}


/* 頁尾區域 */
footer {
   background-color: rgba(38, 55, 91, 0.594);
   color: white;
   font-size: 0.85rem;
   text-align: center;
   padding: 10px 0px 10px 0px;
   margin-top: 65px;

}